html {
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	height: 100vh;
	margin: 0;
}


th[sort-direction="ascend"]::after {
	content: "▲";
	font-size: .7rem;
	margin-left: 5px;
}

th[sort-direction="descend"]::after {
	content: "▼";
	font-size: .7rem;
	margin-left: 5px;
	
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
