html {
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	height: 100vh;
	margin: 0;
}

fm-portal {
	font-size: small;
}

fm-portal-row {
	display: contents;
}


th[sort-direction="ascend"]::after {
	content: "▲";
	font-size: .7rem;
	margin-left: 5px;
}

th[sort-direction="descend"]::after {
	content: "▼";
	font-size: .7rem;
	margin-left: 5px;
	
}

table {
	border-collapse: collapse;
	width: 100%;
	position: relative;
}


th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 4px;
}


table input {
	width: 100%;
	background-color: inherit;
	border: none;
	font-size: small;

}

th {
	position: sticky;
	top: 0px;
}